---
import Header from "@/components/header-landing.astro";
import CurrentWork from "@/components/CurrentWork.astro";
import MainLayout from "@/layouts/main-layout.astro";
import ProjectSet from "@/components/project-set.astro";
import ActivityLog from "@/components/activity-log.astro";
import NewWidget from "@/components/NewWidget.astro";
---

<MainLayout
  title="New Favorite Site"
  description="Researcher. Crypto Enthusiast. Student."
  author="Shui Tangs"
>
  <div class="[grid-column:2]">
    <div class="flex flex-col md:flex-row gap-4">
      <div class="w-full md:w-3/5">
        <Header />
        <CurrentWork />
      </div>
      <div class="w-full md:w-2/5">
        <NewWidget class="md:pl-4" />
      </div>
    </div>

    <div style="height: 40px;"></div>

    <div class="grid gap-12 md:grid-cols-2">
      <div class="sticky top-4 mt-4 self-start">
        <ProjectSet />
      </div>
      <ActivityLog />
    </div>
  </div>
</MainLayout>