---
import Header from "@/components/header-landing.astro";
import CurrentWork from "@/components/CurrentWork.astro";
import MainLayout from "@/layouts/main-layout.astro";
import ProjectSet from "@/components/project-set.astro";
import ActivityLog from "@/components/activity-log.astro";
import NewWidget from "@/components/NewWidget.astro";
---

<MainLayout
  title="New Favorite Site"
  description="Researcher. Crypto Enthusiast. Student."
  author="Shui Tangs"
>
  <div class="px-4 py-8 md:px-8 max-w-4xl mx-auto">
    <div class="space-y-8 md:space-y-12">
      <div class="space-y-8 md:flex md:space-y-0 md:space-x-8">
        <div class="md:w-2/3">
          <Header />
          <CurrentWork />
        </div>
        <div class="md:w-1/3">
          <NewWidget />
        </div>
      </div>
      
      <div class="space-y-8 md:flex md:space-y-0 md:space-x-8">
        <div class="md:w-1/2">
          <ActivityLog />
        </div>
        <div class="md:w-1/2">
          <ProjectSet />
        </div>
      </div>
    </div>
  </div>
</MainLayout>