---
interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-US", {
  month: "short",
  day: "numeric",
  year: "numeric",
});
---

<div class="mb-4 md:mb-8">
  <div class="flex flex-col md:flex-row md:items-center md:-ml-24">
    <div class="flex justify-between items-center md:hidden mb-1">
      <a href="/" class="flex items-center text-sm text-muted-foreground hover:text-foreground transition-colors">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2"
        >
          <path d="M6 8L2 12L6 16"></path>
          <path d="M2 12H22"></path>
        </svg>
        Back
      </a>
      <p class="text-muted-foreground text-sm md:hidden">
        {formattedDate}
      </p>
    </div>
    
    <a href="/" class="hidden md:flex items-center text-sm text-muted-foreground hover:text-foreground transition-colors mr-8 w-16">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="mr-2"
      >
        <path d="M6 8L2 12L6 16"></path>
        <path d="M2 12H22"></path>
      </svg>
      Back
    </a>
    
    <div class="flex-grow flex flex-col md:flex-row md:items-baseline md:justify-between">
      <h1 class="text-2xl font-bold sm:text-3xl md:text-3xl text-center md:text-left">
        {title}
      </h1>
      <p class="text-muted-foreground text-xs sm:text-sm hidden md:block text-right md:whitespace-nowrap">
        {formattedDate}
      </p>
    </div>
  </div>

  <div class="border-b border-muted-foreground/20 mt-1 md:mt-4"></div>
</div>
